.env
Companies.csv
.vscode/
data/Cubul Rubik - Wikipedia.html
data/Fluier - Wikipedia.html
data/Rubik's Cube - Wikipedia.html
data/Rubik's Cube group - Wikipedia.html
.venv2/
realistic_restaurant_reviews.csv
__pycache__/vector.cpython-312.pyc
chrome_langchain_db/chroma.sqlite3
chrome_langchain_db/1bb1bbb2-02e6-4564-8800-e6249b1ee9b2/data_level0.bin
chrome_langchain_db/1bb1bbb2-02e6-4564-8800-e6249b1ee9b2/header.bin
chrome_langchain_db/1bb1bbb2-02e6-4564-8800-e6249b1ee9b2/length.bin
chrome_langchain_db/1bb1bbb2-02e6-4564-8800-e6249b1ee9b2/link_lists.bin
